@charset "utf-8";
/* CSS Document */
a{ text-decoration:none;}
img{ display:block;max-width: 100%;}
.fl{float: left;}
.fr{float: right;}
.clearfix::before,.clearfix::after{content: "";display: block;clear: both;}
.clearfix{*zoom:1;}


